<%- include('../partials/header.ejs') %>

<form action="/signup" method="post">
    <input type="email" name="username" id="" placeholder="email address">
    <input type="password" name="password" id="" placeholder="password">
    <input type="number" name="phoneNo" id="" placeholder="phone number">
    <input type="text" name="gender" id="" placeholder="gender">
    <input type="number" name="cgpa" id="" placeholder="cgpa">
    <input type="submit" value="Sign up">  
</form>

<%- include('../partials/footer.ejs') %>